{% block panel %}
    <!-- Nav tabs -->
    <ul class="nav nav-justified u-nav-v1-1 u-nav-blue g-brd-bottom--md g-brd-bottom-2 g-brd-blue g-mb-20"
        role="tablist" data-target="nav-1-1-default-hor-left-underline"
        data-tabs-mobile-type="slide-up-down"
        data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-blue g-mb-20">
        <li class="nav-item">
            <a class="nav-link g-py-10 active" data-toggle="tab"
               href="#nav-1-1-default-hor-left-underline--1" role="tab">Datos Personales</a>
        </li>
    </ul>
    <!-- End Nav tabs -->
    <!-- Tab panes -->
    <div id="nav-1-1-default-hor-left-underline" class="tab-content g-mb-50 ">
        <!-- Edit Profile -->
        <div class="tab-pane fade show active" id="nav-1-1-default-hor-left-underline--1" role="tabpanel"
             data-parent="#nav-1-1-default-hor-left-underline">
            <ul class="list-unstyled g-mb-30">
                <!-- DNI -->
                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">DNI</strong>
                        <span class="align-top" name="nombre">{{ app.user.nif }}</span>
                    </div>
                </li>
                <!-- End DNI -->
                <!-- Nombre -->
                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Nombre</strong>
                        <span class="align-top">{{ app.user.nombre }}</span>
                    </div>
                </li>
                <!-- End Nombre -->

                <!-- Apellidos -->
                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Apellidos</strong>
                        <span class="align-top">{{ app.user.apellido }}</span>
                    </div>
                </li>
                <!-- End Apellidos -->

                <!-- Email -->
                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Email</strong>
                        <span class="align-top">{{ app.user.email }}</span>
                    </div>
                </li>
                <!-- End Email  -->

                <!-- Telefono -->
                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Telefono</strong>
                        <span class="align-top">{{ app.user.telefono }}</span>
                    </div>
                </li>
                <!-- End Telefono -->

                <!-- Titulaciones -->
                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Titulaciones</strong>
                        <span class="align-top">
                                        {% for sel in app.user.Grados %}
                                            {{ sel.nombre }}
                                        {% endfor %}
                                    </span>
                    </div>
                </li>
                <!-- End Titulaciones -->

                <!-- Curso -->
                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Curso</strong>
                        <span class="align-top">{{ app.user.curso }}</span>
                    </div>
                </li>
                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Recibir
                            Notificaciones</strong>
                        <span class="align-top">
                            {% if app.user.recibir == 1 %}
                                Si deseo recibir notificaciones
                            {% else %}
                                No deseo recibir notificaciones
                            {% endif %}
                        </span>
                    </div>
                </li>
                <!-- End Curso -->
            </ul>

            <div class="text-sm-right">
                <a href="#modal23" data-modal-target="#modal23" data-modal-effect="flash"
                   class="btn btn-md u-btn-3d g-bg-blue g-mr-10 g-mb-15 g-color-white">
                    <i class="icon-pencil g-mr-5"></i>
                    Activar Edición
                </a>
            </div>
        </div>
        <!-- End Edit Profile -->
    </div>
    <div id="modal23" class="text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20" style="display: none;">
        <button type="button" class="close" onclick="Custombox.modal.close();">
            <i class="hs-icon hs-icon-close"></i>
        </button>
        {{ form_start( form ,{'enctype':'multipart/from-data'}) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}