{% block panel %}
<div class=" g-mb-40 g-pb-100">
    <div class="row">
    {% for oferta in ListaOfertas %}
        <div class="col-md-6 g-mt-10">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nombre Empresa: {{ oferta.nombre }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Tipo Oferta:{{ oferta.tipo }}</h6>
                    <ul>
                        {% for sel in oferta.grados %}
                           <li> {{ sel.nombre }}</li>
                        {% endfor %}
                    </ul>
                    <p class="card-text">Descripcion: {{ oferta.descripcion }}</p>
                    <span>
                        <i class="icon-link"></i> {{ oferta.enlaces }}
                    </span>
                    <br/>
                    <span>
                        <i class="fa fa-phone"></i> {{ oferta.telefono }}
                    </span>
                    <br/>
                    <a href="mailto:{{ oferta.email }}" class="card-link">Mandar correo</a>

                    {% if app.user.rol != "ROLE_ADMIN" %}
                    <a href="#" class="card-link">Solicitar</a>
                    {% elseif oferta.validar == 0 %}
                    <a href="#" class="card-link">Validar</a>
                    {% endif %}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav class="g-mt-50" aria-label="Page Navigation">
        <ul class="list-inline">
            {% if pagina <= TotalPaginas and pagina>1 %}
                <li class="list-inline-item">
                    <a class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-13"
                       href="{{ path('Listar_Ofertas') }}/{{ pagina-1 }}">
                            <span>
                                <i class="fa fa-angle-left"></i>
                            </span>
                    </a>
                </li>
            {% endif %}
            {% for i in 1..TotalPaginas %}
                <li class="list-inline-item">
                    <a class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-11
{% if i == pagina %}
             u-pagination-v1-5--active
             {% else %}

             {% endif %}
" href="{{ path('Listar_Ofertas') }}/{{ i }}">{{ i }}</a>
                </li>
            {% endfor %}
            {% if pagina < TotalPaginas and pagina>0 %}
                <li class="list-inline-item">
                    <a class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-13"
                       href="{{ path('Listar_Ofertas') }}/{{ pagina+1 }}">
                            <span>
                                <i class="fa fa-angle-right"></i>
                            </span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <div class="text-sm-right">
            <input class="btn u-btn-blue rounded-0 g-py-12 g-px-25" type="submit" name="EnviarAlumnos"
                   value="Enviar a los Alumnos"/>
        </div>
    </nav>
</div>
{% endblock %}