{% block panel %}
    <!--Listado Alumnos -->
    <div class="g-mb-40 g-pb-100">
    <table class="table u-table--v3 g-color-black">
        <thead>
        <tr>
            <th>#</th>
            <th>Foto</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Grados</th>
            <th>Curso</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for alumno in ListaAlumnos %}
            <tr>
                <td>{{ alumno.id }}</td>
                <td>
                    <img src="{{ asset('assets/img/my/') }}{{ alumno.foto }}" alt="Foto alumno"
                         width="80px" height="50px"/>
                </td>
                <td>{{ alumno.nif }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.apellido }}</td>
                <td>{{ alumno.email }}</td>
                <td>
                    {% for sel in alumno.galumno %}
                        {{ sel.grado.nombre }}
                    {% endfor %}
                </td>
                <td>{{ alumno.curso }}</td>
                <td>{{ alumno.telefono }}</td>
                <td>
                    <button class="btn btn-warning btn-xs">
                        <i class="fa fa-pencil"></i> Editar
                    </button>
                    <button class="btn btn-danger btn-xs">
                        <i class="fa fa-trash-o"></i> Borrar
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav class="g-mb-50" aria-label="Page Navigation">
    <ul class="list-inline">
    {% if pagina <= TotalPaginas and pagina>1 %}
        <li class="list-inline-item">
            <a class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-13"
               href="{{ path('Listar_Alumnos') }}/{{ pagina-1 }}">
                            <span>
                                <i class="fa fa-angle-left"></i>
                            </span>
            </a>
        </li>
    {% endif %}
    {% for i in 1..TotalPaginas %}
        <li class="list-inline-item">
        <a class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-11
{% if i == pagina %}
             u-pagination-v1-5--active
             {% else %}

             {% endif %}
" href="{{ path('Listar_Alumnos') }}/{{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if pagina < TotalPaginas and pagina>0 %}
            <li class="list-inline-item">
                <a class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-13"
                   href="{{ path('Listar_Alumnos') }}/{{ pagina+1 }}">
                            <span>
                                <i class="fa fa-angle-right"></i>
                            </span>
                </a>
            </li>
        {% endif %}
        </ul>
        </nav>
        </div>
        <!--END Listado alumnos-->
        {% endblock %}